<div class="w-section pdTop-medium pdBottom-medium" ><!-- style="background:url({eyou:ad aid='10'}{$field.litpic}{/eyou:ad}) no-repeat center;background-attachment:fixed"--> 
      <div class="row" style="max-width:;">
        <div class="row-mask" ></div>
        {eyou:type typeid='1'}
        <div class="wrap-content-in  pdTop-default pdBottom-default">
          <div class="li-div" >
            <div class="w-space space-b noChoose"  style="height:45px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <!--<div class="li-div" >
            <div class="not-animated w-text" data-animate="" style="">
              <div class="w-title w-title1">
                <div class="w-title-in">
                  <div class="w-title-inner">
                    <div class="title-h-in">
                      <h2 class="color_main color_h" style="color:#2195b9;">{$field.typename}</h2>
                      <div class="simpline bg_simpline" style="background:#2195b9;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div class="li-div col-li-div" >
            <div class="col-table">
             <style type="text/css">
				@media (max-width:480px){
					.s_item{ padding-top:1em !important;}
					.s_item h3{ font-size:110% !important;}
				}
			 </style>
              <table class="div-table div-table-first" width="100%" cellspacing="0" data-pid="520660" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="td-w" width="48.45528455284553%"><div class="div-padding">
                        <div class="li-div" >
                          <div class="w-space space-b noChoose"  style="height:30px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                        <div class="li-div col-li-div" >
                          <div class="col-table">
                            <table class="div-table" width="100%" cellspacing="0" data-pid="520663" cellpadding="0" border="0">
                              <tbody>
                                <tr> {eyou:channel limit='0,3' typeid='1'}
                                  <td class="td-w" width="45.48611111111111%"><div class="div-padding">
                                      <div class="li-div" >
                                        <div class="not-animated w-text" data-animate="" style="">
                                         <a title="" href="{$field.typeurl}" >
                                          <div class="s_item" style=" text-align:center; border:3px solid #2195b9; padding:20px 0.5em 0; color:#b0a27b;"><img src="{$field.litpic}"/>
                                            <a title="" href="{$field.typeurl}" style="text-decoration: none;" >
                                            <div>
                                              <h3 style="margin:0;font-size:18px; font-weight:normal;">{$field.typename}</h3>
                                              <p style="font-size:85%;">{$field.seo_description}...</p>
                                            </div></a>
                                          </div></a>
                                        </div>
                                      </div>
                                    </div></td>
                                  {/eyou:channel}
                                  
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div></td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="li-div" >
            <div class="w-space space-b noChoose"  style="height:98px;">
              <div class="stretch-b"></div>
            </div>
          </div>
        </div>
        {/eyou:type} </div>
    </div>